.auth {
  margin: 3rem auto 0 auto;
  width: 60vw;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color: white;
}

.auth h1 {
  text-align: center;
  color: #175343;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: #175343;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #c9ddd8;
  color: #000000;
  border-radius: 4px;
  border: 1px solid white;
  width: 90%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .actions p {
  color: black;
} */


.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #0f342a;
  border: 1px solid #0f342a;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:disabled {
  cursor: not-allowed;
  font: inherit;
  color: white;
  background-color: #091e18;
  border: 1px solid #091e18;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #153f34;
  border-color: #153f34;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #000000;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #7b9c93;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.error-text {
  color: #b40e0e;
}
