.header {
  width: 100vw;
  height: 5rem;
  background-color: #175343;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 2vmin;
  box-sizing: border-box;
}

.logo {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: white;
  margin: 0;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

.header button {
  font: inherit;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  margin-left: 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.header a:hover {
  background-color: #165a48;
}

.header button:hover {
  background-color: white;
  color: #175343;
}